<%- include('../partials/header.ejs', {title: "Login" , user}) %>
	<h2>Login</h2>
	<form action="/api/v1/auth/login1" method="POST">
		<label>Email:</label>
		<input name="email" type="email" required />
	
		<label>Password:</label>
		<input name="password" type="password" required />

		<button type="submit">Login</button>
	</form>


	<% include('../partials/footer.ejs') %>