<%- include('../partials/header.ejs', {title: "Sign Up" , user}) %>

	<h2>Sign Up</h2>
	<form method="POST" action="/api/v1/auth/signup">
		<label>First Name:</label>
		<input name="first_name" required />
	
		<label>Last Name:</label>
		<input name="last_name" required />
	
		<label>Email:</label>
		<input name="email" type="email" required />
	
		<label>Password:</label>
		<input name="password" type="password" required />

		<button type="submit">Sign Up</button>
		</form>

	<% include('../partials/footer.ejs') %>