<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		<%= title %>
	</title>
	<style>
		.nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	
		.navlinks {
			display: flex;
			align-items: center;
			gap: 20px;
		}
	</style>
</head>

<body>

	<header>
		<nav class="nav">
			<h1>
				Joloo Blog API
			</h1>
			<div class="navlinks">

				<% if (user) { %>
					<a href="/blogs">All Blogs</a>
					<a href="/api/v1/blog/create">Create</a>
					<!-- ...existing code... -->
					<form action="api/v1/auth/logout" method="POST" style="display: inline;">
						<button type="submit">Logout</button>
					</form>
					<!-- ...existing code... -->
					<% } else { %>
						<a href="/login">Login</a>
						<a href="/signup">Signup</a>
						<% } %>
			</div>
		</nav>

	</header>
	<main>
