<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		<%= title %>
	</title>
	<style>
		.nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.navlinks {
			display: flex;
			align-items: center;
			gap: 20px;
		}
	</style>
</head>

<body>

	<header>
		<nav class="nav">
			<h1>
				<a href="/">
					Blog API
				</a>
			</h1>
			<% if (user) { %>
				<button>
					<b>
						<%= user.first_name %>
					</b>
				</button>
				<% } %>
					<nav class="navlinks">

				<% if (user) { %>
					<a href="/all">All Blogs</a>
					<a href="/api/v1/blog/my-blogs">My Blogs</a>
					<a href="/api/v1/blog/create">Create</a>
					<form action="/api/v1/auth/logout" method="POST" style="display: inline;">
						<button type="submit">Logout</button>
					</form>
					<% } else { %>
						<a href="/login">Login</a>
						<a href="/signup">Signup</a>
						<% } %>
			</nav>
		</nav>

	</header>
	<main>
